<nav class="navbar">
    <div class="navbar-brand">
      My Bank
    </div>
    <ul class="nav-links">
      <li>
        <a routerLink="/loan-plans" routerLinkActive="active">Loan Plans</a>
      </li>
      <li>
        <a routerLink="/add-loan-plan" routerLinkActive="active">Add Loan Plan</a>
      </li>
      <li>
        <a routerLink="/edit-loan-plan" routerLinkActive="active">Edit Loan Plan</a>
      </li>
    </ul>
    <div class="login-options">
      <button class="login-button" (click)="login()">Login</button>
      <button class="register-button" onclick="register()">Register</button>
    </div>
  </nav>
  