<div class="container mx-auto px-4 sm:px-6 lg:px-8">

  <div class='flex flex-col sm:flex-row justify-around mt-8'>
    <div class="sm:mt-28">
      <h1 class='font-bold text-4xl sm:text-5xl mb-10'>
        Banking Loan Plans <br/>Management
      </h1>
      <p class='text-base sm:text-lg font-semibold text-gray-600 mb-5'>
        lets make loans affordable for you<br/>
        This is designed to ensure a secure loan management.
      </p>

        <a class='bg-[#00A3FE] mt-3 px-12 sm:px-28 py-4 rounded-full text-white font-semibold' 
        routerLink="/register" routerLinkActive="active">Register</a>
    </div>
    <img class='max-h-[200px] sm:max-h-[458px] ml-0 sm:ml-[-20px] mt-[-20px] sm:mt-0' src="../../../assets/images/loanLanding.jpg" alt="landinggirl"/>
  </div>
</div>
