<div class="container">
  <h2 class="text-center">Loan Plans</h2>
  
  
  <div class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let loanPlan of loanPlans">
      <div class="card loan-card">
        <div class="card-body">
          <h5 class="card-title">{{ loanPlan.loanPlanName }}</h5>
          <p class="card-text">Principal Amount: {{ loanPlan.principalAmount }}</p>
          <p class="card-text">Tenure: {{ loanPlan.tenure }}</p>
          <p class="card-text">Interest Rate: {{ loanPlan.interestRate }}%</p>
          <p class="card-text">EMI: {{ loanPlan.emi }}</p>
          <p class="card-text">Plan Validity: {{ loanPlan.planValidity }}</p>
          
          <button class="btn btn-primary" *ngIf="(isManagerView$ | async)" (click)="editLoanPlan(loanPlan.planId)">
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
